<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Zero Waste Restaurant">
  <meta name="Gusevs" content="">
  <title>Zero Waste Restaurant</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

<div class="w3-panel w3-card-4 w3-green"><p>Add new product</p></div>

<table class="w3-table-all">
  <tr>
    <td>Name:</td>
    <td>Quantity:</td>
    <td>Price:</td>
    <td>ExpiryDate(dd/MM/yyyy):</td>
  </tr>

  <tr>
    <form action="/addProduct" th:object="${productRequest}" method="post">
      <td><input type="text" th:field="${productRequest.name}"/></td>
      <td><input type="text" th:field="${productRequest.quantity}"/></td>
      <td><input type="text" th:field="${productRequest.price}"/></td>
      <td><input type="text" th:field="${productRequest.date}"/></td>
      <td>
        <input type="submit" value="Add Product"/>
        <input type="reset" value="Clear"/>
      </td>
    </form>
  </tr>
</table>

<tr>

</tr>
<td th:if="${errors != null}">
  <tr th:each="error : ${errors}">
<td th:text="${error.field}"/>
<td th:text="${error.message}"/>
</tr>
</td>

<form action="javascript:history.back();">
  <input type="submit" value="Go back" name="Submit"/>
</form>

</body>

</html>