<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Zero Waste Restaurant">
  <meta name="Gusevs" content="">
  <title>Zero Waste Restaurant</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<div class="w3-container w3-green w3-section w3-round-small">
  <p>ZERO WASTE RESTAURANT</p>
</div>

<h2> Program menu </h2>

<h4> User </h4>
<a href="/userRegistration">Registration</a> <br>
<a href="/">User login</a> <br>
<a href="/changePassword">Change password</a> <br>

<h4> Dish </h4>
<a href="/addDishToTheList">Add new dish</a> <br>
<a href="/removeDishFromTheList">Remove dish</a> <br>
<a href="/getAllDishes">Show all dishes</a> <br>

<h4> Product </h4>
<a href="/addProduct">Add new product</a> <br>
<a href="/removeProductFromTheList">Remove product</a> <br>

<h4> Other </h4>
<a href="/exit">Exit Application</a> <br>

</body>
</html>